body{
    background-color:white;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: justify;
}
li a:hover {
    background-color: #555;
    color: white;
}
h1,h2{
    font-family: 'Amatic SC', cursive;
}
p,ul li{
    margin-top: 0px;
    font-family: 'Abel', sans-serif;
    text-align: justify;
    text-indent: 0.8cm;
}
hr{
    background-color: black; 
    width: 50%;
}
span{
    font-weight: bold;
    color: #186dce;
    font-size: 20px;
    text-shadow: 2px 2px #a3a3a3;
    margin-right: 2px;
}
ol li{
    font-weight: bold;
    color: #bc08f3;
    font-size: 20px;
    margin-right: 2px;
    text-transform: uppercase;
}
.container{
    margin: 20px 200px 20px 200px;    
}
.bg {
    display: block;
    width: 100%;
    height: 250px;
    background: linear-gradient(155deg, #ff97bf 30%,  #5ef1ea 70%);
}
.img-circle{
    text-align: center;

}
.circle {
    width:300px;
    height:300px;
    border-radius:150px;
    margin-top: 30px;
}
.titulo{
    width: auto;
    height: 0px;
    width: auto;
    float: right;
    text-align: center;
}
.title{
    margin-top: 60px;
    margin-right: 50px;
}
.cuerpo{
    margin-left: 255px;
    margin-top: 160px;
}

.column{
    column-count: 2;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    margin-top: 35px;
}

